.filter_label {
	padding-top: 24px;
	padding-left: 34px;
	font-weight: bold;
}

.table_body{
	max-height: 200px;
    overflow-y: auto;
}

.single_emp_data, .mode_of_pay_data, .all_emp_data {
	margin: 30px;
}